<aside class="usa-width-one-fourth sidenav sticky">
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.title == 'Domain registration' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/domains/registration/">
        Registration
      </a>
      <ul class="usa-sidenav-sub_list">
        <li>
          <a {% if page.title == 'Domain requirements' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/domains/registration/domain-requirements/">
            Domain requirements
          </a>
        </li>
        <li>
          <a {% if page.title == 'Points of contact' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/domains/registration/points-of-contact/">
            Points of contact
          </a>
        </li>
        <li>
          <a {% if page.title == 'Form letters (HTML)' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/domains/registration/form-letters/">
            Form letters (HTML)
          </a>
        </li>
        <li>
          <a {% if page.title == 'Domain verification' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/domains/registration/domain-verification/">
            Domain verification
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a {% if page.title == 'Domain management' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/domains/management/">
        Management
      </a>
      <ul class="usa-sidenav-sub_list">
        <li>
          <a {% if page.title == 'Renewals' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/domains/management/renewals/">
            Renewals
          </a>
        </li>
        <li>
          <a {% if page.title == 'Transfers' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/domains/management/transfers/">
            Transfers
          </a>
        </li>
        <li>
          <a {% if page.title == 'Account changes' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/domains/management/account-changes/">
            Account changes
          </a>
        </li>
      </ul>
    </li>
  </ul>
</aside>