<aside class="usa-layout-docs-sidenav">
  <ul class="usa-sidenav-list">
    <li>
      <a {% if page.title == 'Policies and guidelines' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/policies-and-guidelines/">
        Policies
      </a>
      <ul class="usa-sidenav-sub_list">
        <li>
          <a {% if page.title == 'Federal policy' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/policies-and-guidelines/policy/">
            Federal policy
          </a>
        </li>
        <li>
          <a {% if page.title == 'Policy FAQ' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/policies-and-guidelines/policy-faq/">
            Policy FAQ
          </a>
        </li>
      </ul>
    </li>
    <li>
      <a {% if page.title == 'Program guidelines' %}class="usa-current"{% endif %} href="{{ site.baseurl }}/policies-and-guidelines/program-guidelines/">
        Program guidelines
      </a>
    </li>
  </ul>
  {% if page.subnav %}
  <h6 class="usa-sidenav-contents-heading">Contents</h6>
  <ul class="usa-sidenav-contents usa-unstyled-list">
    {% include subnav.html links=page.subnav %}
  </ul>
  {% endif %}
</aside>
