// Navigation

.usa-navbar {
  @include media($nav-width) {
    height: 81px;
  }
}

.usa-nav {
  @include media($nav-width) {
    padding-top: 2.4rem;
  }
}

.usa-logo-text {
  @include media($nav-width) {
    font-size: 3rem;
  }
}
// Eric's code:

/* Style tweaks. */

code {
  background-color: #e5e5e5;
  color: #bc0071;
  font-size: 0.9em;
}

/*
  Overrides for the bottom-right buttons.
  Modeled after standards.usa.gov.
*/

footer.site .usa-footer-contact-links {
  text-align: left;
}


footer.site .usa-footer-contact-links .usa-button {
  color: #ffffff;
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}

a.cta img {
  height: 1.5rem;
  margin-right: 0.4rem;
  position: relative;
  top: 2px;
  vertical-align: baseline;
}
