
/*
  Overrides for the bottom-right buttons.
  Modeled after standards.usa.gov.
*/

footer.site .usa-footer-contact-links {
    text-align: left;
}


footer.site .usa-footer-contact-links .usa-button {
    color: #ffffff;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
}

a.cta img {
    height: 1.5rem;
    margin-right: 0.4rem;
    position: relative;
    top: 2px;
    vertical-align: baseline;
}
