<footer class="usa-footer usa-footer-medium site" role="contentinfo">

  {% unless page.top == 'false' %}
  <div class="usa-grid usa-footer-return-to-top">
    <a href="#">Return to top</a>
  </div>
  {% endunless %}

  <div class="usa-footer-secondary_section">
    <div class="usa-grid">
      <div class="usa-width-one-third">
        <h3>Contact us</h3>
        <p>
          Phone: 1-877-734-4688<br/>
          Fax: 1-540-301-0160<br/>
          Email: <a href="mailto:registrar@dotgov.gov">registrar@dotgov.gov</a>
        </p>
        <a class="footer-logo" href="https://www.gsa.gov" target="_blank">
          {% include svg/gsa-logo.svg %}
        </a>
      </div>
      <div class="usa-width-one-third">
        <h4>Tools and services</h4>
        <ul class="usa-unstyled-list">
          <li><a href="https://www.dotgov.gov" target="_blank">Register or manage a domain</a></li>
          <li><a href="{{ site.baseurl }}/data">Use our data</a></li>
          <li><a href="https://www.dotgov.gov/dotgov-web/registration/whois.xhtml?_m=3">WHOIS search</a></li>
          <li><a href="http://dnssec-debugger.verisignlabs.com/">DNS security debugger</a></li>
          <li>Help us improve this site on <a href="{{ site.repo }}/issues/new">GitHub</a></li>
        </ul>
      </div>
      <div class="usa-width-one-third">
        <h4>Policies and information</h4>
        <ul class="usa-unstyled-list">
          <li><a href="{{ site.baseurl }}/privacy/">Privacy policy</a></li>
          <li><a href="{{ site.baseurl }}/foia/">FOIA</a></li>
          <li><a href="https://www.gsa.gov/portal/category/21399">GSA Office of Government-wide Policy</a></li>
          <li><a href="https://usa.gov">USA.gov</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
