---
title: Domain verification
layout: docs
permalink: /domains/registration/domain-verification/
top: true
---

## Domain verification
